In [1]:
import pandas as pd
df=pd.read_csv('weatherHistory.csv')

In [2]:
from pprint import pprint
data=pd.DataFrame(df)
print('The number of data points',data.shape[0])
print('The number of features',data.shape[1])
print()
print('The features coloumns are ------->')
pprint(data.columns)

The number of data points 96453
The number of features 12

The features coloumns are ------->
Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [3]:
print(data['Daily Summary'].unique().shape)
print(data['Summary'].unique().shape)
print(data['Summary'].unique())

(214,)
(27,)
['Partly Cloudy' 'Mostly Cloudy' 'Overcast' 'Foggy'
 'Breezy and Mostly Cloudy' 'Clear' 'Breezy and Partly Cloudy'
 'Breezy and Overcast' 'Humid and Mostly Cloudy' 'Humid and Partly Cloudy'
 'Windy and Foggy' 'Windy and Overcast' 'Breezy and Foggy'
 'Windy and Partly Cloudy' 'Breezy' 'Dry and Partly Cloudy'
 'Windy and Mostly Cloudy' 'Dangerously Windy and Partly Cloudy' 'Dry'
 'Windy' 'Humid and Overcast' 'Light Rain' 'Drizzle' 'Windy and Dry'
 'Dry and Mostly Cloudy' 'Breezy and Dry' 'Rain']

In [4]:
#data.describe()

In [5]:
data.head()
data.to_pickle('saved/initial_data')

# Data Preprocessing

In [6]:
# Removing the insignificant features
data = data.drop(['Loud Cover'],axis=1)
data = data.drop(['Daily Summary'],axis=1)
data = data.drop(['Apparent Temperature (C)'],axis=1)
data = data.drop(['Formatted Date'],axis=1) 
print('The number of data points',data.shape[0])
print('The number of features',data.shape[1])
print()
print('The features coloumns are ------->')
pprint(data.columns)

The number of data points 96453
The number of features 8

The features coloumns are ------->
Index(['Summary', 'Precip Type', 'Temperature (C)', 'Humidity',
       'Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Visibility (km)',
       'Pressure (millibars)'],
      dtype='object')

In [7]:
data.head()

,Summary,Precip Type,Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
0,Partly Cloudy,rain,9.472222,0.89,14.1197,251.0,15.8263,1015.13
1,Partly Cloudy,rain,9.355556,0.86,14.2646,259.0,15.8263,1015.63
2,Mostly Cloudy,rain,9.377778,0.89,3.9284,204.0,14.9569,1015.94
3,Partly Cloudy,rain,8.288889,0.83,14.1036,269.0,15.8263,1016.41
4,Mostly Cloudy,rain,8.755556,0.83,11.0446,259.0,15.8263,1016.51

In [8]:
data.to_pickle('saved/removed_entry')

In [9]:
data['Precip Type'][:10]

0    rain
1    rain
2    rain
3    rain
4    rain
5    rain
6    rain
7    rain
8    rain
9    rain
Name: Precip Type, dtype: object

In [10]:
print(data.columns)

Index(['Summary', 'Precip Type', 'Temperature (C)', 'Humidity',
       'Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Visibility (km)',
       'Pressure (millibars)'],
      dtype='object')

In [11]:
data.loc[:,'Precip Type'].replace(['rain','snow','nan'],[1,-1,0],inplace=True)

In [12]:
data.head()

,Summary,Precip Type,Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
0,Partly Cloudy,1.0,9.472222,0.89,14.1197,251.0,15.8263,1015.13
1,Partly Cloudy,1.0,9.355556,0.86,14.2646,259.0,15.8263,1015.63
2,Mostly Cloudy,1.0,9.377778,0.89,3.9284,204.0,14.9569,1015.94
3,Partly Cloudy,1.0,8.288889,0.83,14.1036,269.0,15.8263,1016.41
4,Mostly Cloudy,1.0,8.755556,0.83,11.0446,259.0,15.8263,1016.51

In [13]:
data.loc[:,'Temperature (C)']=data.loc[:,'Temperature (C)'].diff()
data.loc[:,'Wind Bearing (degrees)']=data.loc[:,'Wind Bearing (degrees)'].diff()
data = data.rename(columns={'Temperature (C)': 'Temperature Gradient', 'Wind Bearing (degrees)': 'Wind Bearing Gradient'})
data = data.rename(columns={'Visibility (km)': 'Visibility', 'Pressure (millibars)': 'Pressure'})
data = data.rename(columns={'Wind Speed (km/h)':'Wind Speed'})
data.drop(df.index[:1], inplace=True)
data.index=data.index-1

In [14]:
data.to_pickle('saved/improved_entry')